/*
Responsive
*/

@media screen and (max-width: 768px) {
  .v-application {
    .action-box {
      justify-content: flex-start;
    }
    .v-card {
      p {
        font-size: 14px;
      }
      .bg-infographic {
        &:nth-child(2) {
          background: transparent;
          &:after {
            display: none;
          }
        }
        &:nth-child(3) {
          background: transparent;
          &:after {
            display: none;
          }
        }
        .info-item {
          padding: 15px;
          margin: 10px;
          border-radius: 10px;
          background: var(--v-gray-base);
          img {
            height: 70px;
          }
          .info-content {
            p {
              font-size: 35px;
            }
            h1 {
              font-size: 15px;
            }
          }
        }
      }
      .feed-date {
        h1 {
          font-size: 16px;
        }
      }
      .feed-filter {
        .v-btn {
          font-size: 20px;
        }
      }
      .feed-item {
        height: 200px;
        .v-overlay__content {
          .feed-content {
            h2 {
              font-size: 20px;
            }
            .feed-category {
              font-size: 8px;
              padding: 3px 8px;
              bottom: 12px;
            }
            .v-btn {
              font-size: 12px;
              padding: 0;
              bottom: -15px;
            }
          }
        }
      }
      .map-info {
        .map-info-content {
          li {
            width: calc(50% - 20px);
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .v-dialog {
    .v-list-item {
      flex-direction: column;
      min-height: unset;
      .v-list-item__content {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .v-application {
    .v-parallax {
      height: 450px !important;
      margin-bottom: -80px !important;
      .v-parallax__image {
        top: 0;
        bottom: unset;
        transform: unset !important;
        left: 0;
        height: 100%;
        position: fixed;
      }
    }
    .v-card {
      .faith-item {
        h1 {
          width: 20%;
        }
        p {
          width: 80%;
        }
      }
      .feed-control {
        .v-btn {
          min-width: unset !important;
          .v-icon {
            font-size: 16px !important;
          }
        }
      }
      .feed-date {
        h1 {
          font-size: 12px;
        }
      }
      .feed-filter {
        .v-btn {
          font-size: 14px;
          .v-icon {
            display: none;
          }
        }
      }
      .feed-item {
        .v-overlay__content {
          .feed-content {
            h2 {
              font-size: 16px;
            }
          }
        }
      }
      .map-info {
        .map-info-content {
          li {
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
