/*
Responsive
*/

@media screen and (max-width: 768px) {
    .v-application {
        .action-box {
            justify-content:flex-start;
        }
        .v-card {
            .bg-infographic {
                &:nth-child(2) {
                    background:transparent;
                    &:after {
                        display:none;
                    }
                }
                &:nth-child(3) {
                    background:transparent;
                    &:after {
                        display:none;
                    }
                }
                .info-item {
                    padding: 15px;
                    margin:10px;
                    border-radius:10px;
                    background: var(--v-gray-base);
                    img {
                        height:70px;
                    }
                    .info-content {
                        p {
                            font-size:35px;
                        }
                        h1 {
                            font-size:15px;
                        }
                    }
                }
            }
        }
    }
    .v-dialog {
        .v-list-item {
            flex-direction: column;
            min-height: unset;
            .v-list-item__content {
                width:100%;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .v-application {
        .v-card {
            .faith-item {
                h1 {
                    width:20%;
                }
                p {
                    width:80%;
                }
            }
        }
    }
}