@import "~vuetify/src/components/VStepper/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/*Colors*/


/*General*/

.v-application {
    .title {
        line-height:1.3;
    }
    .text-h1,
    .text-h2,
    .text-h3,
    .text-h4,
    .text-h5,
    .text-h6,
    .title,
    strong,
    h1,h2,h3,h4,h5,h6,p {
        font-family: 'Poppins',sans-serif!important;
        letter-spacing: normal;
        word-break: break-word;
        line-height:1.5;
    }
    p{
        font-size:18px;
        font-weight:500;
    }
    .text-small {
        font-size:13px;
    }
    .v-btn{
        font-family: 'Poppins',sans-serif!important;
    }
    .container {
        max-width:1024px;
    }
    .btn-default {
        font-size:1.5rem;
        letter-spacing:unset;
        border-radius:0;
    }
    .action-box {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        height:100%;
        padding:12px;
    }
    .v-list {
        .v-list-item{
            font-family:'Poppins',sans-serif;
        }
    }
}

/*Section*/

section {
    .feature-img {
        display:block;
        position:absolute;
        top:30px;
        right:0;
        width:180px;
        height:100%;
        margin-right:-8px;
        z-index: 1;
    }
    &.bg--secondary {
        background-color:var(--v-bluelighter-base);
    }
}

/*Footer*/

footer {
    .v-btn__content {
        letter-spacing:0;
    }
}

