

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.v-application {
    .title {
        line-height:1.3;
    }
    .text-h1,.text-h2,.text-h3,.text-h4,.text-h5,.text-h6,.title,strong {
        font-family: 'Poppins',sans-serif!important;
        letter-spacing: normal;
    }
    .text-small {
        font-size:13px;
    }
    .v-btn{
        font-family: 'Poppins',sans-serif!important;
    }
}

footer {
    .v-btn__content {
        letter-spacing:0;
    }
}

